@import url('/fonts/fonts.css');

/* Definindo variáveis de cores */
:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --bege: #FDE4A1;
    /* Corrigido para 'bege' */
    --cinza-claro: #EDEDED;
    /* Renomeado para evitar duplicação */
    --vermelho-bordo: #9E1010;
    --amarelo: #FFA800;
    --vermelho: #FE4A45;
    --verde: #248F61;
    --verde-musgo: #073B38;
}

/* Tipografia */
:root {
    --font-poppins-bold: 'Poppins-Bold', sans-serif;
    --font-poppins-regular: 'Poppins-Regular', sans-serif;
    --font-poppins-semibold: 'Poppins-SemiBold', sans-serif;
    --font-sora-bold: 'Sora-Bold', sans-serif;
    --font-sora-regular: 'Sora-Regular', sans-serif;
    --font-sora-semibold: 'Sora-SemiBold', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SobreNosContainer {
    width: 100%;
    height: 1370px;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 35px;
}


.FotoFundoContainer {
    background: url(../../assets/sobre/Sobre_Fundo.png);
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 50%;
    border-radius: 0px 0px 0px 40px;
}

.TextoContainer {
    height: 100%;
    width: 50%;
    background-color: var(--verde-musgo);
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    gap: 55px;
    border-radius:  0px 0px 40px 0px;
    
}

.Tituloh1 {
    font-family: var(--font-sora-regular);
    color: var(--branco);
    font-size: 4.4rem;
}

.paragrafo {
    font-family: var(--font-sora-regular);
    font-size: 1.5rem;
    color: var(--branco);
    width: 60%;
    line-height: 35px;
    height: 100%;
    text-align: left;

}




.paragrafoContainer
{
    width: 100%;
    height: 70%;
}
@media (max-width: 1600px) 

{
    .paragrafo {
        font-family: var(--font-sora-regular);
        font-size: 1.2rem;
        color: var(--branco);
        width: 60%;
        line-height: 35px;
        height: 100%;
        text-align: left;
    
    }
}
@media (max-width: 1500px) 

{
    .Tituloh1
    {
        margin-top: 50px;
        font-size: 2.8rem;
    }
}



@media (max-width: 1330px) 

{
    .paragrafo
    {
        font-size: 1rem;
    }
}
@media (max-width: 1200px) 

{
    .SobreNosContainer
    
    {
        height: 950px;
    }

    .paragrafo
    {

        font-size: 1rem;
        width: 70%;
        line-height: 24px;
        margin-top: -25px;
    }

    .Tituloh1
    {
        font-size: 2.7rem;

    }
}
@media (max-width: 1100px) {

    .SobreNosContainer
    
    {
        height: 950px;
    }

}


@media (max-width: 1000px) 

{

    .SobreNosContainer
    
    {
        height: 1550px;
    }

    .paragrafo
    {

        font-size: 1.1rem;
        width: 60%;
        line-height: 34px;
        text-align: left;
    }

    .Tituloh1
    {
        font-size: 2.3rem;
    }

} 

@media (max-width: 960px)  

{
    .SobreNosContainer{
        height: 1750px;    
            }
            .TextoContainer
            {
                padding-left: 5%;
            }
.paragrafoContainer
{
    width: 80%;
}
            .paragrafo{
text-align: left;
width: 100%;
                font-size: 0.9rem;
                margin-left: 10%;
            }

}

@media (max-width: 840px) 

{

    .SobreNosContainer{
height: 1850px;    
    }
    
    .paragrafoContainer
    {

height: 50%;
    


    }

    .paragrafo
    {
        height: 100%;
        
        font-size: 0.9rem;
        line-height: 27px;
    }

    .TextoContainer
    {
        padding-bottom: 45px;
    }

} 


@media (max-width: 800px) 

{
.SobreNosContainer
{
    height: 1300px;
}
    .paragrafo
    {

        font-size: 0.9rem;
        width: 95%;
        height: 60%;
        line-height: 24px;
    }

} 


@media (max-width: 768px) 

{

    .FotoFundoContainer
    {
        background-position: center;
    }

    .paragrafo
    {

        font-size: 0.8rem;
        width: 90%;
        line-height: 23px;
    }

    .Tituloh1
    {
        margin-top: 85px;
        font-size: 2rem;
    }
} 

 

    @media (max-width: 705px) 

{

    
        .SobreNosContainer
        {
            height: auto;
            top: 480px;
           display: flex;
           flex-direction: column;
           margin-bottom: 350px;
           padding: 0;
        }
        .TextoContainer
        {
            width: 100%;
            height: auto;
            border-radius: 0px 0px 50px 50px;
            padding: 0;
        }
        .FotoFundoContainer
        {
            width: 100%;
            height: 1200px;
            background-color: red;
            border-radius: 0;
            background-position: center center/cover;
      
           
          
        }
        .SobreNosContainer
        {
        margin-top: -200px;
        }
    

        .paragrafo
        {
    
            font-size: 1.8rem;
            width: 80%;
            line-height: 44px;
            margin: 0;
        }
    
        .Tituloh1
        {
            font-size: 3rem;
        }
.SobreNosContainer
{
    margin-bottom: 220px;
}
} 
@media (max-width: 660px) 
{
    .TextoContainer
    {
        height: auto;
        padding-bottom: 50px;
        
    }

    .paragrafoContainer
{
    width: 100%;
    height: auto;
}
}
@media (max-width: 600px) 
{

    .SobreNosContainer
    {
    margin-top: -250px;
    margin-bottom: 200px;
    }

    .paragrafo
    {

        font-size: 1.4rem;
        width: 80%;
        line-height: 40px;
        margin-bottom: 70px;
    }

    .Tituloh1
    {
        font-size: 2rem;
    }
    .TextoContainer
    {
        padding-bottom: -20px;
    height: 1800px; 
    }

}

@media (max-width: 520px ) 
{
   
} 
@media (max-width: 490px ) 

{
   .SobreNosContainer
   {
    top: 240px;
   }
    .paragrafo
    {

        font-size: 1.2rem;
        width: 75%;
        line-height: 36px;
    }

    .Tituloh1
    {
        font-size: 1.8rem;

    }

    
    .TextoContainer
    {
        height: 34% ;
    }
}