* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Container {
    width: 100%;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.TitleContainer {
    width: auto;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: var(--font-poppins-regular);
    margin-bottom: 40px;
}

.PopUp {
    width: 910px;
    height: 675px;
    display: flex;
    flex-direction: row;
}

.PosterContainer {
    width: 50%;
    background-color: rgb(144, 104, 219);
    background: url(../../assets/Foto_PopUp.png);
    border-radius: 11.5% 0% 0% 11.5%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextoSobreImagem {
    margin-top: 240px;
    font-size: 2rem;
    color: var(--branco);
    font-family: var(--font-poppins-regular);
}


.PropostaContainer {
    width: 50%;
    background-color: var(--vermelho);
    border-radius: 0% 11.5% 11.5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PropostaTitle {
    font-size: 1.7rem;
    color: var(--branco);
}

.TextDireita {
    font-size: 1.7rem;
    color: var(--branco);
    width: 70%;
}

.ButtonProposta {
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo);
    text-decoration: none;
    color: var(--branco);
    border-radius: 50px;
    transition: 0.8s;
    font-size: 1.5rem;
}

.ButtonProposta:hover {
    background-color: var(--verde);
}

@media (max-width: 1300px) {
    .Container {
        margin-top: -700px;
    }
}

@media (max-width: 1130px) {
    .PopUp {

        width: 810px;
        height: 575px;
    }

    .ButtonProposta {
        font-size: 1.2rem;
        width: 70%;
    }

    .TextoSobreImagem {
        line-height: 38px;
        font-size: 1.8rem;
        font-family: var(--font-poppins-semibold);
    }

    .TextDireita {
        font-size: 1.5rem;
    }
}

@media (max-width: 1020px) {

    .Container {
        margin-top: -890px;
    }
}


@media (max-width: 900px) {
    .Title {
        font-size: 3rem;
    }

    .PropostaTitle {
        font-size: 1.3rem;
    }

    .PopUp {

        width: 710px;
        height: 475px;
    }

    .ButtonProposta {
        font-size: 1.rem;
        width: 65%;
        height: 55px;
    }

    .TextoSobreImagem {
        line-height: 34px;
        font-size: 1.4rem;
        font-family: var(--font-poppins-semibold);
        margin-bottom: 25px;
    }

    .TextDireita {
        font-size: 1.2rem;
    }
}

@media (max-width: 770px) {

    .Container {
        margin-top: -1050px;
    }

    .PopUp {

        width: 610px;
        height: 375px;
    }




    .ButtonProposta {
        width: 65%;
        height: 40px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .TextoSobreImagem {
        font-size: 1.12rem;
        margin-bottom: 85px;
        line-height: 30px;
        margin-right: 50px;
    }

    .TextDireita {
        font-size: 1.2rem;
        line-height: 32px;
    }

    .PropostaTitle {
        font-size: 1.3rem;
    }
}

@media (max-width: 760px) {
    .Container {
        margin-top: 25px;
    }
}

@media (max-width: 680px) {


    .PopUp {

        width: 530px;
        height: 400px;
    }




    .ButtonProposta {
        width: 100%;
        height: 80px;
        font-size: 1rem;
        margin-bottom: -20px;
        border-radius: 0 0 35px 0;
    }

    .TextoSobreImagem {
        font-size: 1rem;
        margin-bottom: 85px;
        line-height: 30px;
        margin-right: 20px;
    }

    .TextDireita {
        font-size: 1rem;
        line-height: 28px;
    }

    .PropostaTitle {
        font-size: 1.1rem;
    }

    .Title {
        font-size: 2.2rem;
    }
}

@media (max-width: 580px) {


    .PopUp {

        width: 490px;
        height: 370px;
    }




    .ButtonProposta {
        width: 100%;
        height: 54px;
        font-size: 1rem;
        margin-bottom: -20px;
        border-radius: 0 0 20px 0;
    }

    .TextoSobreImagem {
        font-size: 1rem;
        margin-bottom: 105px;
        line-height: 30px;
        margin-right: 20px;
    }

    .TextDireita {
        font-size: 0.92rem;
        line-height: 28px;
    }

    .PropostaTitle {
        font-size: 1rem;
    }

    .Title {
        font-size: 2.2rem;
    }
}

@media (max-width: 516px) 

{


    .PopUp{

        width: 95%;
        height: 370px;
    }




    .ButtonProposta
    
    {
        width: 100%;
        height: 54px;
        font-size: 1rem;
margin-bottom: -20px;
border-radius: 0 0 20px 0;
    }

    .TextoSobreImagem
    
    {
        font-size: 1rem;
margin-bottom: 105px;
line-height: 30px;
margin-right: 20px;
    }

    .TextDireita
    {
        font-size:0.92rem;
        line-height: 28px;
    }

    .PropostaTitle
    
    {
        font-size: 1rem;
    }
    
    .Title
    {
        font-size: 2rem;
    }
}

@media (max-width: 490px)  
{

    

    .PopUp{

        width: 95%;
        height: 370px;
    }




    .ButtonProposta
    
    {
        width: 100%;
        height: 54px;
        font-size: 1rem;
margin-bottom: -28px;
border-radius: 0 0 26px 0;
    }

    .TextoSobreImagem
    
    {
        font-size: 1rem;
margin-bottom: 105px;
line-height: 30px;
margin-right: 20px;
    }

    .TextDireita
    {
        font-size:0.92rem;
        line-height: 22px;
    }

    .PropostaTitle
    
    {
        font-size: 0.9rem;
    }
    
    .Title
    {
        font-size: 1.5rem;
    }

  

}

@media (max-width: 470px) 

{
    .ButtonProposta
    {
        margin-bottom: -35px;
    }

    .TextDireita
    {
        margin-top: -38px;
        font-size: 0.8rem;
    }
}