* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.ContainerCarrossel {
    width: 100%;
    height: 1000px;
    margin: 50px 0px 250px 0px;
    background-color: rgb(255, 41, 223);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TitleContainer {

    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;


}

.Title {
    font-family: var(--font-sora-regular);
    font-size: 4rem;
    background-color: aliceblue;

}


.BlockServicos {
    padding: 0 250px 0 250px;
    height: 500px;
    gap: 250px;
    width: 500%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.Block {
    width: 90%;
    height: 600px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TitleServico {
    width: 100%;
    text-align: center;
    background-color: purple;
}

.TextServico {
    width: 100%;
    text-align: center;
    background-color: cornflowerblue;
}