@import url('/fonts/fonts.css');

/* Definindo variáveis de cores */
:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --bege: #FDE4A1;
    --cinza-claro: #EDEDED;
    --vermelho-bordo: #9E1010;
    --amarelo: #FFA800;
    --vermelho: #FE4A45;
    --verde: #248F61;
    --verde-musgo: #073B38;
    --laranja: #E87A00;
}

/* Tipografia */
:root {
    --font-poppins-bold: 'Poppins-Bold', sans-serif;
    --font-poppins-regular: 'Poppins-Regular', sans-serif;
    --font-sora-bold: 'Sora-Bold', sans-serif;
    --font-sora-regular: 'Sora-Regular', sans-serif;
    --font-sora-semibold: 'Sora-SemiBold', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.AdBlogContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    margin-bottom: -50px;

}

.TituloContainer {
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;

}

.Titulo {
    font-family: var(--font-sora-semibold);
    font-weight: 800;
    font-size: 4rem;
    line-height: 60px;
    left: 114px;
    color: var(--verde-musgo);
}

.AdBlog {
    width: 90%;
    /* Cobre a largura total do container */
    height: 680px;
    background: url('../../assets/fundo_ad_blog_image.png') no-repeat center center/cover;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.TextoContainer {
    width: 50%;
    height: 312px;
    margin-top: 54px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

.Texto {
    font-family: var(--font-sora-bold);
    font-size: 1.5rem;
    line-height: 30.5px;
    color: var(--verde-musgo);
    width: 80%;
    height: 100%;
}

.ButtonContainer {
    width: 390px;
    height: 150px;
    position: absolute;
    bottom: 150px;
    right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Button {
    width: 360px;
    height: 80px;
    background: var(--laranja);
    border: none;
    border-radius: 50px;
    font-family: var(--font-sora-bold);
    font-size: 36px;
    color: var(--branco);
    cursor: pointer;
    text-align: center;
    line-height: 88px;
    /* Alinha verticalmente o texto */
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Button:hover {
    background-color: var(--vermelho);
    transition: 0.5s;
}

.Button::after:hover {
    background-color: var(--laranja);
    transition: 0.5s;
}

@media (max-width: 1300px) {
    .AdBlogContainer {
        margin-bottom: 650px;
    }
}

@media (max-width: 1270px) {


    .Titulo {
        font-size: 3rem;
    }
}

@media (max-width: 1150px) {


    .TextoContainer {
        margin-left: 400px;
    }
}


@media (max-width: 1020px) {
    .AdBlogContainer {
        margin-bottom: 900px;
    }
}




@media (max-width: 950px) {

    .Titulo {
        font-size: 2.5rem;
    }

    .TextoContainer {
        margin-left: 300px;
    }

    .Texto {
        font-size: 1.2rem;
    }

}

@media (max-width: 890px) {
    .TextoContainer {
        gap: 45px;

    }

    .ButtonContainer {
        top: 250px;
        margin-top: 280px;
    }
}

@media (max-width: 770px) {

    .AdBlogContainer
    {
        margin-bottom: 1050px;
    }

    .TextoContainer {
        margin-top: 140px;

        width: 80%;
        margin-left: 90px;
    }

    .Texto {
        font-size: 1.5rem;
    }

    .TituloContainer {
        width: 80%;
    }
}

@media (max-width: 760px) 

{
.AdBlogContainer{

    margin-bottom: -420px;
}
}

@media (max-width: 560px) {

    .TextoContainer {

        margin-left: 25%;

    }

    .Texto {
        width: 100%;
    }
}

@media (max-width: 630px) {

    .AdBlogContainer{

        margin-bottom: -580px;
    }  
}

@media (max-width: 560px) {

.TextoContainer
{
    margin-top: 230px;
}
    .Texto {
        font-size: 1.3rem;
        margin-right: 10%;
    }

    .Button {
        width: 320px;
        height: 80px;
        background: var(--laranja);
        border: none;
        border-radius: 40px;
        font-family: var(--font-sora-bold);
        font-size: 30px;
        color: var(--branco);
        cursor: pointer;
        text-align: center;
        line-height: 88px;
        /* Alinha verticalmente o texto */
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

    }

}

@media (max-width: 530px) {
      

    .Titulo {
        font-size: 2.2rem;
    }

    .TextoContainer {
       
        margin-left: 20%;

    }

    .Texto {
        font-size: 1.3rem;
        margin-right: 10%;
    }


    .Button {
        width: 280px;
        height: 70px;
        font-size: 27px;


    }
}

@media (max-width: 490px) {
.AdBlog
{
    padding-top: 80px;
    
}
    .TextoContainer{
        margin-top: 90px;
        gap: 15px;
    }
    .ButtonContainer {
        max-width: 100%;
    }

    .Button {
        width: 260px;
        height: 50px;
        font-size: 24px;


    }

}

@media (max-width: 490px) {

    .TextoContainer {
        margin-top: 150px;
        margin-left: 15%;
        gap: 17px;

    }

    .Texto {
        font-size: 1.2rem;
        line-height: 25px;
    }
}