* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o ArtigoComponent */
.ArtigoComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
    height: auto;

}

/* Estilo do container do título */
.TituloArtigoContainer {

    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Ajustando a distância superior */
    padding: 0 20px;
    border-radius: 8px;
}

/* Estilo do título do artigo */
.TituloArtigo {
    font-family: var(--font-poppins-semibold);
    font-size: 2.5rem; /* Reduzindo um pouco o tamanho da fonte */
    text-align: center;
    color: var(--verde-musgo);
    max-width: 90%;
}

/* Estilo para a capa do artigo */
.ArtigoCapa {
    width: 100%;
    height: auto;
    max-height: 720px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-top: 10px;
   
}

.ArtigoCapa {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
}

.CapaStyle
{
    background-color: red;
}
/* Container para os detalhes do artigo */
.detalhesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    font-size: 1.1rem;
    color: #777;
}

.DatasContainer
{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
/* Estilo para as datas do artigo */
.detalhes {
    font-style: italic;
}

/* Estilo para a atualização do artigo */
.AtualizadoHaX {
    font-weight: bold;
    color: #2d2d2d;
}

/* Descrição do artigo */
.DescricaoArtigo {
    font-size: 1.6rem;
    font-family: var(--font-poppins-medium);
    margin: 20px 0;
    text-align: center;
    color: #333;
    width: 100%;
}


/* Estilo para o conteúdo geral */
/* Estilo para o conteúdo geral */
.ConteudoContainer {
    height: auto;
    width: 90%;
    min-height: 300px;
    border: solid 2px rgb(1, 48, 36);
}

.conteudo {
    height: 100%;
    width: 100%;
    background-color: aqua;
}


/* Estilos principais do PDF */
.PDFContainer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

.PDFDocument {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PDFPage {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    border-radius: 8px;
    overflow: hidden;
}
