* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o ArtigoComponent */
.ArtigoComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    padding: 0 20px;
    height: auto;

}

/* Estilo do container do título */
.TituloArtigoContainer {

    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Ajustando a distância superior */
    padding: 0 20px;
    border-radius: 8px;
}

/* Estilo do título do artigo */
.TituloArtigo {
    font-family: var(--font-poppins-semibold);
    font-size: 2.5rem; /* Reduzindo um pouco o tamanho da fonte */
    text-align: center;
    color: var(--verde-musgo);
    max-width: 90%;
}

/* Estilo para a capa do artigo */
.ArtigoCapa {
    width: 100%;
    height: auto;
    max-height: 720px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-top: 10px;
   
}

.ArtigoCapa {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #2d2d2d;
}

.CapaStyle
{
    background-color: red;
}
/* Container para os detalhes do artigo */
.detalhesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    font-size: 1.1rem;
    color: #777;
}

.DatasContainer
{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
/* Estilo para as datas do artigo */
.detalhes {
    font-style: italic;
}

/* Estilo para a atualização do artigo */
.AtualizadoHaX {
    font-weight: bold;
    color: #2d2d2d;
}

/* Descrição do artigo */
.DescricaoArtigo {
    font-size: 1.6rem;
    font-family: var(--font-poppins-medium);
    margin: 20px 0;
    text-align: center;
    color: #333;
    width: 100%;
}


/* Estilo para o conteúdo geral */
.Conteudo {
    font-family: var(--font-poppins-regular);
    font-size: 1rem;
    color: var(--verde-musgo); /* Cor de texto principal */
    line-height: 1.8;
    margin-bottom: 30px;
    text-align: justify;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--verde); /* Fundo leve */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Artigocomponent.module.css */

/* Container do PDF */
/* Conteúdo do PDF */
.PdfContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: left;
    padding: 20px;
}

/* Estilos para o conteúdo HTML */
.HtmlContent {
    font-family: var(--font-poppins-bold);
    line-height: 1.6;
    color: var(--verde-musgo);
    font-size: 1rem;
    padding: 15px;
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 100%;
    word-wrap: break-word; /* Garante que o texto se ajuste à tela */
}

/* Links dentro do conteúdo */
.HtmlContent a {
    color: var(--vermelho); /* Cor para links */
    text-decoration: none;
}

.HtmlContent a:hover {
    text-decoration: underline;
}

/* Parágrafos */
.HtmlContent p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: var(--verde-musgo);
}

/* Títulos dentro do conteúdo */
.HtmlContent h1, .HtmlContent h2, .HtmlContent h3 {
    color: var(--verde-musgo);
    font-family: var(--font-poppins-bold);
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Listas dentro do conteúdo */
.HtmlContent ul, .HtmlContent ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

.HtmlContent li {
    margin-bottom: 10px;
}

/* Imagens dentro do conteúdo HTML */
.HtmlContent img {
    max-width: 100%;
    height: auto;
    border-radius: 38px;
    margin-bottom: 20px;
}

/* Canvas que contém o conteúdo do PDF */
.CustomCanvas {
    width: 100%; /* Ajusta a largura do canvas */
    height: auto; /* Mantém a proporção do PDF */
    max-width: 1000px; /* Define o tamanho máximo do canvas */
    border-radius: 8px; /* Adiciona cantos arredondados */
    margin: 0 auto; /* Centraliza o canvas */
    display: block; /* Garante que seja tratado como um bloco */
    text-align: justify;
}

